// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$MAIN_BACKGROUND: #dfe3e6;
$SUB_BACKGROUND: #f9f8fd;
$TODOS_BACKGROUND: #f9f9fd;
$CHATS_BACKGROUND: #f9f9fd;

$MAIN_FONT: #525252;
$ICON: #9c9ea1;

$MENU_ACTIVE: #f9f9fd;
$LOGOUT: #9c9ea1;
$SEND: #9c9ea1;
