@use '/src/styles/constants/colors';

.meeting {
  display: flex;

  .content {
    flex: 1;
    padding: 20px;
    background-color: colors.$MAIN_BACKGROUND;
  }

  .sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: colors.$WHITE;
  }

  .sideBar > :last-child {
    margin-top: auto;
  }
}

.personalMenu {
  display: flex;
  align-items: center;
  width: 100%;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: colors.$ICON;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: contain;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-left: auto;

    button {
      padding: 3px 8px;
      margin-left: 11px;
      font-size: 12px;
      line-height: 12px;
      color: colors.$LOGOUT;
      border: 1px solid colors.$LOGOUT;
      border-radius: 10px;
    }
  }
}

.notify {
  position: relative;
}

.notify::after {
  position: absolute;
  right: 7px;
  width: 5px;
  height: 5px;
  content: '';
  background-color: red;
  border-radius: 50%;
}
