@use '/src/styles/constants/colors';

.gnb {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  max-width: 200px;
  height: 100vh;
  padding: 10px 15px;
  background-color: colors.$WHITE;

  .dropdown {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    color: colors.$MAIN_FONT;

    svg {
      width: 10px;
      height: 10px;
      margin: 0 10px;
      fill: colors.$MAIN_FONT;
    }

    :last-child {
      margin-left: auto;
    }
  }
}
