@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.login {
  margin-top: 70%;
  text-align: center;

  .summary {
    font-size: 28px;
    font-weight: 700;
    line-height: 2;
  }

  .signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    margin: 40px auto 0;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    border-radius: 8px;

    svg {
      width: 14px;
      height: 14px;
      margin-right: 18px;
    }
  }
}

@include responsive.after(LD) {
  .login {
    margin: auto;
  }
}
