@use '/src/styles/constants/colors';

.login {
  height: 100vh;
  margin: auto;
}

.signIn {
  width: 300px;
  padding: 10px;
  border: 2px solid goldenrod;
  border-radius: 8px;
}

.signIn:hover {
  color: red;
  background-color: gray;
}
